/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Orbitron, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100px;
}

#top-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/landscape-mars-surface-with-colony-buildings_107791-946.jpg?w=996&t=st=1668815861~exp=1668816461~hmac=5b97d403e08fa949e179bb1d964535f2dc1eba3d65fe3857040f5ace1f463f03");
    background-size: cover;
    padding: 40px 0 400px 0;
    margin-bottom: 0;
}

#header {
    background: #590036;
    color: #B66662;
    font-size: 80px;
}

#sub-header {
    background: #590036;
    color: #B66662;
}

#mid-cover {
    background: #A5344A;
    padding: 10px 0 30px 0;    
}


#activity {
    padding: 0px 0 10px 0;
    font-size: 25px;
    font-weight: bold;
    color: #DA7670;
}

#img-sep {
    display: flex;
    justify-content: space-around;
    padding: 0 0 20px 0;
}

#pic1 {
    border: 4px solid #421437;
    border-radius: 10px;  
}

#pic2 {
    border: 4px solid #421437;
    border-radius: 10px;     
}

#pic3 {
    border: 4px solid #421437;
    border-radius: 10px;     
}

#description {
    display: flex;
    justify-content: space-around;
    background: #A5344A;
    padding: 20px;
    color: #DA7670;
    font-weight: bold;
    font-size: 17px;
}

#bottom-cover {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /* width: 500px; */
    align-items: center;
    background: #623E71;
    padding: 5px 30px 30px 30px;;
    border-bottom: 5px solid #421437;
    font-size: 17px;
    color: #DA7670;
}

#alien {
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}

#alienname {
    font-size: 30px;
    font-weight: bold;
    padding: 0;
}

#alien:hover {
    background-image: url("https://media0.giphy.com/media/RIevsoxqXHTtkHUFXp/giphy.gif?cid=ecf05e47ygb1iqrznredi1b088ssu9nm77xpcu9sx7ic3j0l&rid=giphy.gif&ct=g");
}